{{- $codespaces:= env "CODESPACES" | not | not -}}
sourceDir = "{{ .chezmoi.sourceDir }}"

[data]
    codespaces = {{ $codespaces }}
{{- if $codespaces }}{{/* Codespaces dotfiles setup is non-interactive, so set an email address */}}
    email = "alexis.jeandeau@gmail.com"
{{- else }}{{/* Interactive setup, so prompt for an email address */}}
    email = "{{ promptString "email" }}"
{{- end }}
