LICENSE
README.md
install.sh
install.ps1
pyproject.toml
scripts/
AppData/Local/Packages/Microsoft.DesktopAppInstaller_8wekyb3d8bbwe/LocalState/winget-export.json
*.bttpreset
{{- if ne .chezmoi.os "windows" }}
AppData
Documents
.rsgain
{{- end }}
{{- if eq .chezmoi.os "windows" }}
.vim
.config/alacritty
.config/elvish
.config/libreoffice
.config/nvim
.config/plover
.config/powershell
.config/youtube-dl
.config/yt-dlp
{{- else }}
vimfiles
{{- end }}
{{- if ne .chezmoi.os "darwin" }}
.config/karabiner
.hushlogin
Library
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
.XCompose
{{- end }}
{{- if or (eq .chezmoi.os "windows") (eq .chezmoi.os "darwin") }}
# Visual Studio Code data is stored under ~/Library on macOS, ~/AppData on Windows and ~/.config otherwise
.config/Code*
.config/go
{{- end }}
{{- if ne .chezmoi.os "linux" }}
.config/dolphin-emu
.config/kritarc
.config/pacman
.config/rsgain
.local/share/fonts
.var
.Xresources
.xprofile
{{- end }}
{{- if .ephemeral }}
.ansible.cfg
.config/alacritty
.config/Code*
.config/kritarc
.config/firefox
.config/i3*
.config/libreoffice
.config/mpv
.config/plover
.config/nvim
.config/user-dirs
.local/share/fonts
.vim
vimfiles
.gimprc
.mozilla
.XCompose
.Xresources
.xprofile
{{- end }}
{{- if .devcontainer }}
# By default Visual Studio Code loads the host .gitconfig on Remote - Containers
.gitconfig
{{- end }}
{{- if .work }}{{/* Work */}}
.config/dolphin-emu
.ssh/authorized_keys
.var/app/org.DolphinEmu.dolphin-emu
Library/Application Support/Dolphin
AppData/Roaming/Dolphin Emulator
{{- else }}{{/* Personal */}}
.aws/credentials
.config/fish/conf.d/work.fish
.config/elvish/lib/work.elv
.mc
.shrc.work
{{- end }}
