{{- $codespaces := env "CODESPACES" | not | not -}}

{{- $alpine := false -}}
{{- $wsl := false -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   if eq .chezmoi.osRelease.id "arch" -}}
{{-     $alpine = true -}}
{{-   end -}}
{{-   if .chezmoi.kernel.osrelease | lower | contains "microsoft" -}}
{{-     $wsl = true -}}
{{-   end -}}
{{- end -}}

{{- $chassisType := "desktop" -}}
{{- if and (eq .chezmoi.os "linux") (not $codespaces) (not $alpine) (not $wsl) -}}
{{-   $chassisType = (output "hostnamectl" "--json=short" | mustFromJson).Chassis -}}
{{- else if eq .chezmoi.os "darwin" -}}
{{-   if contains "MacBook" (output "sysctl" "-n" "hw.model") -}}
{{-     $chassisType = "laptop" -}}
{{-   else -}}
{{-     $chassisType = "desktop" -}}
{{-   end -}}
{{- else if eq .chezmoi.os "windows" -}}
{{-   $chassisType = (output "powershell.exe" "-noprofile" "-command" "if (Get-WmiObject -Class win32_battery -ComputerName localhost) { Write-Host laptop -NoNewLine } else { Write-Host desktop -NoNewLine }") -}}
{{- end -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

{{- if not $codespaces }}{{/* Disable encryption on Codespaces */}}
encryption = "gpg"

[gpg]
    recipient = "alexis.jeandeau@gmail.com"
{{- end }}

[data]
    codespaces = {{ $codespaces }}
    chassistype = {{ $chassisType | quote }}
    work = {{ if eq .chezmoi.username "alexis.jeandeau" -}}true{{- else -}}false{{- end }}
{{- if eq .chezmoi.os "linux" }}
    uid = 1000
    display = 0
{{- end }}
{{- if $codespaces }}{{/* Codespaces dotfiles setup is non-interactive, so set an email address */}}
    email = "alexis.jeandeau@gmail.com"
{{- else }}{{/* Interactive setup, so prompt for an email address */}}
    email = {{ promptString "email" | quote }}
{{- end }}
