[init]
	defaultBranch = master
[user]
	name = "Alexis Jeandeau"
	email = {{ .email | quote }}
{{- if not .work }}
	signingkey = 438ED2B0D5E5719F
{{- else }}
	signingkey = 4B9CEAB3C697E546
[commit]
	gpgsign = true
{{- end }}
[merge]
	tool = vimd
[diff]
	guitool = gvimdiff
[pull]
	ff = only
[core]
	autocrlf = false
	editor = vim -f
	filemode = false
	hooksPath = "~/.config/git/hooks"
[alias]
	co = checkout
	st = status -sb
	cl = clone
	ci = commit
	br = branch
	s = stash
	sd = stash drop
	sp = stash pop
	spull = !sh -c 'git stash && git pull && git stash pop'
	df = diff
	dt = difftool
	logg = log --color --graph --format=fuller --show-signature
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	headsha = log --format="%H" -n 1
	who = shortlog -s --
	pushf = push --force-with-lease
	sdcommit = !sh -c 'git stash && git svn dcommit && git stash pop'
	srebase = !sh -c 'git stash && git svn rebase && git stash pop'
	k = !sh -c 'nohup gitk --all &'
	guik = !sh -c '(nohup gitk --all &) && (nohup git gui &)'
	serve = !git daemon --reuseaddr --verbose  --base-path=. --export-all ./.git
	serve2 = !sh -c 'git daemon --reuseaddr --verbose \"$@\" --base-path=. --export-all ./.git' sh
	plfs = !git -c filter.lfs.smudge= -c filter.lfs.required=false pull && git lfs pull
[color]
	ui = true
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[tar "tar.bz2"]
	command = bzip2
[tar "tar.xz"]
	command = xz -c
; Use the SSH instead of HTTPS for Bitbucket (required for 2FA)
[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
; Clone and push to AUR using the "aur:" prefix
[url "https://aur.archlinux.org/"]
	insteadOf = "aur:"
[url "ssh://aur@aur.archlinux.org/"]
	pushInsteadOf = "aur:"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
