{{- $alpine := false -}}
{{- $archlinux := false -}}
{{- $wsl := false -}}

{{- if eq .chezmoi.os "linux" -}}
{{-   if eq .chezmoi.osRelease.id "alpine" -}}
{{-     $alpine = true -}}
{{-   else if or (eq .chezmoi.osRelease.id "arch") (eq (index .chezmoi.osRelease "idLike") "arch") -}}
{{-     $archlinux = true -}}
{{-   end -}}
{{-   if .chezmoi.kernel.osrelease | lower | contains "microsoft" -}}
{{-     $wsl = true -}}
{{-   end -}}
{{- end -}}

{{- if and (eq .chezmoi.os "linux") (ne .chassistype "server") (not .codespaces) (not $wsl) (not $alpine) -}}
#!/bin/bash

set -euo pipefail

for cmd in ack sudo; do
    command -v "${cmd}" &>/dev/null || {
        echo "${cmd} not found" 1>&2
        exit 1
    }
done

{{ if $archlinux -}}
filepath=/etc/default/earlyoom
{{- else -}}
filepath=/etc/init.d/earlyoom
{{- end }}

echo "Writing earlyoom configuration to ${filepath}"

sudo bash -c "cat > "${filepath}"" <<EOF
EARLYOOM_ARGS="-m 5 -r 60 --avoid '(^|/)(init|Xorg|ssh)$' -N 'sudo -u {{ .chezmoi.username }} DISPLAY=:{{ .display }} DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/{{ .uid }}/bus notify-send'"
EOF
{{ end -}}
