{{- if and .work (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -euo pipefail

readonly VM_DIR="${HOME}/.lima/podman"
readonly LIMA_CONFIG="https://gist.githubusercontent.com/jeandeaual/b797a1ca446b985a93ad6b17886afaa5/raw/d2a01f9d87441b3b605c9c66caeb7f8b2155584a/podman.yaml"

if [ ! "$(command -v limactl)" ]; then
    echo "limactl not found" 1>&2
    exit 0
fi

if [[ ! -d "${VM_DIR}" ]]; then
    limactl start "${LIMA_CONFIG}"
fi

{{ end -}}
