{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set -euo pipefail

brew bundle --no-lock --file=/dev/stdin <<EOF
brew 'coreutils'
brew 'moreutils'
brew 'findutils'
brew 'bash'
brew 'zsh'
brew 'fish'
brew 'elvish'
brew 'nvim'
brew 'ctags'
brew 'ack'
brew 'the_silver_searcher'
brew 'the_platinum_searcher'
brew 'ripgrep'
brew 'fzf'
brew 'neofetch'
brew 'pandoc'
brew 'git'
brew 'git-lfs'
brew 'git-gui'
brew 'gnupg'
brew 'chezmoi'
brew 'imagemagick'
brew 'plantuml'
brew 'tree'
brew 'p7zip'
brew 'tmux'
brew 'lsusb'
brew 'jq'
brew 'yq'
brew 'wget'
brew 'go'
brew 'golangci-lint'
brew 'shellcheck'
brew 'python'
brew 'ruby'
brew 'node'
brew 'yarn'
brew 'rustup-init'
tap 'heroku/brew'
brew 'heroku'
{{- if .work }}{{/* Work */}}
brew 'tfenv'
brew 'asdf'
tap 'TylerBrock/saw'
brew 'saw'
brew 'pre-commit'
brew 'k9s'
brew 'okteto'
brew 'teleport'
{{- else }}{{/* Personal */}}
brew 'arduino-cli'
{{- end }}

# Install GUI applications
tap 'homebrew/cask'
cask_args appdir: '~/Applications'

cask 'iterm2'
cask 'macvim'
cask 'emacs'
cask 'plover'
cask 'karabiner-elements'
cask 'bettertouchtool'
cask 'steermouse'
cask 'soundsource'
cask 'vlc'
cask 'plexamp'
cask 'pock'
cask 'obs'
cask 'mongodb-realm-studio'
cask 'cyberduck'
cask 'google-chrome'
cask 'firefox'
cask 'thunderbird'
cask 'gimp'
cask 'visual-studio-code'
cask 'keepassxc'
cask 'wireshark'
cask 'syncthing'
cask 'libreoffice'
cask 'docker'
cask 'slack'
cask 'skype'
tap 'homebrew/cask-fonts'
cask 'font-fira-code'
cask 'font-fira-code-nerd-font'
cask 'homebrew/cask-drivers/hhkb-pro-driver'
{{- if .work }}{{/* Work */}}
cask 'box-drive'
cask 'sequel-pro'
cask 'sourcetree'
cask 'viber'
{{- else }}{{/* Personal */}}
cask 'discord'
cask 'dropbox'
cask 'veracrypt'
cask 'darktable'
cask 'josm'
cask 'android-studio'
cask 'arduino'
cask 'steam'
cask 'mumble'
cask 'quodlibet'
cask 'zoom'
{{- end }}

brew 'mas'

mas 'Xcode', id: 497799835
mas 'Pages', id: 409201541
mas 'Numbers', id: 409183694
mas 'Keynote', id: 409203825
mas 'Microsoft Word', id: 462054704
mas 'Microsoft Excel', id: 409203825
mas 'Microsoft PowerPoint', id: 462062816
mas 'Keka', id: 470158793
mas 'BetterSnapTool', id: 417375580
{{- if .work }}{{/* Work */}}
{{- else }}{{/* Personal */}}
mas 'GarageBand', id: 682658836
mas 'LINE', id: 539883307
mas 'WhatsApp Desktop', id: 1147396723
mas 'Messenger', id: 1480068668
mas 'Telegram', id: 747648890
mas 'ChatSecure Messenger', id: 464200063
{{- end }}
EOF
{{ end -}}
