{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set -euo pipefail

brew bundle --no-lock --file=/dev/stdin <<EOF
brew 'coreutils'
brew 'moreutils'
brew 'findutils'
brew 'bash'
brew 'bash-completion@2'
brew 'zsh'
brew 'fish'
brew 'elvish'
brew 'nano'
brew 'nvim'
brew 'ctags'
brew 'ack'
brew 'the_silver_searcher'
brew 'the_platinum_searcher'
brew 'ripgrep'
brew 'fzf'
brew 'neofetch'
brew 'pandoc'
brew 'git'
brew 'git-lfs'
brew 'git-gui'
brew 'gnupg'
brew 'chezmoi'
brew 'imagemagick'
brew 'plantuml'
brew 'tree'
brew 'direnv'
brew 'p7zip'
brew 'tmux'
brew 'lsusb'
brew 'watch'
brew 'noborus/tap/ov'
brew 'exa'
brew 'jq'
brew 'yq'
brew 'wget'
brew 'go'
brew 'golangci-lint'
brew 'shellcheck'
brew 'hadolint'
brew 'python'
brew 'ruby'
brew 'node'
brew 'yarn'
brew 'rustup-init'
brew 'gromgit/fuse/sshfs-mac'
brew 'podman'
brew 'docker-compose'
brew 'kubectx'
brew 'kubeseal'
brew 'gh'  # GitHub CLI
brew 'heroku/brew/heroku'
{{- if .work }}{{/* Work */}}
brew 'tfenv'
brew 'asdf'
brew 'TylerBrock/saw/saw'
brew 'pre-commit'
brew 'docker'
brew 'docker-credential-helper'
brew 'kubernetes-cli'
brew 'lima'
brew 'k9s'
brew 'okteto'
brew 'helm'
brew 'argo'
{{- else }}{{/* Personal */}}
brew 'arduino-cli'
brew 'qmk/qmk/qmk'
{{- end }}

# Install GUI applications
tap 'homebrew/cask'
cask_args appdir: '~/Applications'

cask 'iterm2'
cask 'macvim'
cask 'emacs'
cask 'jeandeaual/tap/plover'
cask 'karabiner-elements'
cask 'bettertouchtool'
cask 'steermouse'
cask 'maccy'
cask 'soundsource'
cask 'vlc'
cask 'plexamp'
{{- if eq .chassistype "laptop" }}
cask 'pock'
{{- end }}
cask 'obs'
cask 'cyberduck'
cask 'google-chrome'
cask 'firefox'
cask 'thunderbird'
cask 'gimp'
cask 'visual-studio-code'
cask 'keepassxc'
cask 'wireshark'
cask 'syncthing'
cask 'libreoffice'
cask 'slack'
cask 'skype'
cask 'kobo'
cask 'macfuse'
cask 'vagrant'
cask 'xquartz'
cask 'virtualbox'
cask 'homebrew/cask-fonts/font-fira-code-nerd-font'
cask 'homebrew/cask-drivers/hhkb-pro-driver'
{{- if .work }}{{/* Work */}}
cask 'box-drive'
cask 'box-notes'
cask 'notion'
cask 'dbeaver-community'
cask 'insomnia'
cask 'sourcetree'
cask 'viber'
{{- else }}{{/* Personal */}}
cask 'discord'
cask 'docker'
cask 'dropbox'
cask 'veracrypt'
cask 'darktable'
cask 'josm'
cask 'mongodb-realm-studio'
cask 'android-studio'
cask 'arduino'
cask 'steam'
cask 'mumble'
cask 'quodlibet'
cask 'zoom'
{{- end }}

brew 'mas'

mas 'Xcode', id: 497799835
mas 'Pages', id: 409201541
mas 'Numbers', id: 409183694
mas 'Keynote', id: 409203825
mas 'Microsoft Word', id: 462054704
mas 'Microsoft Excel', id: 409203825
mas 'Microsoft PowerPoint', id: 462062816
mas 'Keka', id: 470158793
mas 'BetterSnapTool', id: 417375580
{{- if .work }}{{/* Work */}}
{{- else }}{{/* Personal */}}
mas 'GarageBand', id: 682658836
mas 'LINE', id: 539883307
mas 'WhatsApp Desktop', id: 1147396723
mas 'Messenger', id: 1480068668
mas 'Telegram', id: 747648890
mas 'ChatSecure Messenger', id: 464200063
{{- end }}
EOF

IFS=', ' read -r -a current_login_item_paths <<< "$(osascript -e 'tell application "System Events" to get the path of every login item')"
login_items=(
    "/Applications/Maccy.app"
    "/Applications/SoundSource.app"
    "/Applications/BetterSnapTool.app"
{{- if eq .chassistype "laptop" }}
    "${HOME}/Applications/Pock.app"
{{- end }}
    "${HOME}/Applications/Slack.app"
    "${HOME}/Applications/Syncthing.app"
)

for path in "${login_items[@]}"; do
    if [[ ! " ${current_login_item_paths[*]} " =~ " ${path} " ]]; then
        osascript -e 'tell application "System Events" to make login item at end with properties {path:"'"${path}"'", hidden:false}' >/dev/null
    fi
done
{{ end -}}
