{{- if and .work (lookPath "lima") -}}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>startup.lima-podman</string>
	<key>RunAtLoad</key>
	<true/>
	<key>AbandonProcessGroup</key>
	<true/>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin/:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>sh</string>
		<string>-e</string>
		<string>-c</string>
		<string>limactl start podman;
podman_socket="$(limactl list podman --format 'unix://{{"{{"}}.Dir{{"}}"}}/sock/podman.sock')";
launchctl setenv DOCKER_HOST "${podman_socket}";  # For docker-compose
launchctl setenv CONTAINER_HOST "${podman_socket}";
launchctl setenv LIMA_INSTANCE podman;</string>
	</array>
	<!--<key>StandardErrorPath</key>
	<string>/tmp/startup.lima-podman.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/startup.lima-podman.out</string>-->
</dict>
</plist>
{{ end -}}
