{{- if and .work (lookPath "lima") (not (has .dockercmd (list "docker" "podman"))) -}}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>startup.lima-docker</string>
	<key>RunAtLoad</key>
	<true/>
	<key>AbandonProcessGroup</key>
	<true/>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>sh</string>
		<string>-c</string>
		<!-- `limactl create --vm-type=vz --rosetta` or `limactl start --vm-type=vz --rosetta` needs to be run first to create the default VM -->
        <!-- Use `nerdctl.lima` or `lima nerdctl` to execute Docker commands inside the default Lima VM -->
		<string>limactl start --rosetta</string>
	</array>
	<!--<key>StandardErrorPath</key>
	<string>/tmp/startup.lima-containerd.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/startup.lima-containerd.out</string>-->
</dict>
</plist>
{{ end -}}
