{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set -euo pipefail

brew --version >/dev/null 2>&1 || (/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)")
wget --version >/dev/null 2>&1 || brew install wget
if xcode-select --install >/dev/null 2>&1; then
    sudo xcodebuild -license accept
else
    echo "XCode CLI tools already installed"
fi
{{ end -}}
