{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set -euo pipefail

brew bundle --no-lock --file=/dev/stdin <<EOF
brew 'coreutils'
brew 'moreutils'
brew 'findutils'
brew 'curl'
brew 'trurl'
brew 'bash'
brew 'bash-completion@2'
brew 'zsh'
brew 'fish'
brew 'elvish'
brew 'nano'
brew 'nvim'
brew 'ctags'
brew 'ack'
brew 'ripgrep'
brew 'fzf'
brew 'htop'
brew 'neofetch'
brew 'pandoc'
brew 'git'
brew 'git-lfs'
brew 'git-gui'
brew 'gnupg'
brew 'pinentry-mac'
brew 'chezmoi'
brew 'imagemagick'
brew 'plantuml'
brew 'tree'
brew 'direnv'
brew 'p7zip'
brew 'rar'
brew 'tmux'
brew 'lsusb'
brew 'watch'
brew 'noborus/tap/ov'
brew 'exa'
brew 'awscli'
brew 'duck'
brew 'jq'
brew 'yq'
brew 'wget'
brew 'cmake'
brew 'ninja'
brew 'go-task/tap/go-task'
brew 'ansible'
brew 'ansible-lint'
brew 'perkons/homebrew-sshpass/sshpass'
brew 'go'
brew 'golangci-lint'
brew 'shellcheck'
brew 'shfmt'
brew 'hadolint'
brew 'prettier'
brew 'markdownlint-cli'
brew 'python'
brew 'python-tk'
brew 'pipx'
brew 'pip-tools'
brew 'poetry'
brew 'pdm'
brew 'black'
brew 'isort'
brew 'ruff'
brew 'act'
brew 'actions-validator'
brew 'ruby'
brew 'node'
brew 'yarn'
brew 'rustup-init'
brew 'openjdk'
brew 'oxipng'
brew 'svgo'
brew 'gromgit/fuse/sshfs-mac'
brew 'gh'  # GitHub CLI
brew 'podman'
brew 'docker-compose'
brew 'kubectx'
brew 'kubeseal'
{{- if .work }}{{/* Work */}}
brew 'tfenv'
brew 'TylerBrock/saw/saw'
brew 'pre-commit'
brew 'docker'
brew 'docker-credential-helper'
brew 'kubernetes-cli'
brew 'lima'
brew 'k9s'
brew 'okteto'
brew 'helm'
brew 'argo'
brew 'pulumi/tap/pulumi'
brew 'minio-mc'
brew 'operator-sdk'
brew 'lastpass-cli'
{{- else }}{{/* Personal */}}
brew 'arduino-cli'
brew 'qmk/qmk/qmk'
{{- end }}

# Install GUI applications
cask 'macvim'
cask 'emacs'
cask 'plover'
cask 'karabiner-elements'
cask 'bettertouchtool'
cask 'steermouse'
cask 'maccy'
cask 'vlc'
cask 'plexamp'
cask 'thunderbird'
cask 'gimp'
cask 'krita'
cask 'pika'
cask 'visual-studio-code'
cask 'keepassxc'
cask 'wireshark'
cask 'syncthing'
cask 'libreoffice'
cask 'slack'
cask 'kobo'
cask 'macfuse'
cask 'vagrant'
cask 'xquartz'
cask 'docker'
{{- if ne .chezmoi.arch "arm64" }}{{/* The VirtualBox Cask is not available on ARM */}}
cask 'virtualbox'
{{- end }}
cask 'homebrew/cask-fonts/font-fira-code-nerd-font'
{{- if .work }}{{/* Work */}}
cask 'notion'
cask 'dbeaver-community'
cask 'sourcetree'
cask 'viber'
cask 'openlens'
cask 'google-cloud-sdk'
cask 'grammarly-desktop'
{{- else }}{{/* Personal */}}
cask 'firefox'
cask 'google-chrome'
cask 'homebrew/cask-drivers/hhkb-pro-driver'
cask 'discord'
cask 'dropbox'
cask 'skype'
cask 'veracrypt'
cask 'blender'
cask 'darktable'
cask 'josm'
cask 'mongodb-realm-studio'
cask 'android-studio'
cask 'arduino'
cask 'steam'
cask 'mumble'
cask 'obs'
cask 'quodlibet'
cask 'zoom'
cask 'soundsource'
{{- end }}

brew 'mas'

mas 'Xcode', id: 497799835
mas 'Pages', id: 409201541
mas 'Numbers', id: 409183694
mas 'Keynote', id: 409203825
mas 'Microsoft Word', id: 462054704
mas 'Microsoft Excel', id: 409203825
mas 'Microsoft PowerPoint', id: 462062816
mas 'Strongbox Pro', id: 1481853033
mas 'Cyberduck', id: 409222199
mas 'Keka', id: 470158793
{{- if not .work }}
mas 'BetterSnapTool', id: 417375580
mas 'GarageBand', id: 682658836
mas 'LINE', id: 539883307
mas 'WhatsApp Desktop', id: 1147396723
mas 'Messenger', id: 1480068668
mas 'Telegram', id: 747648890
mas 'ChatSecure Messenger', id: 464200063
{{- end }}
EOF

# Java setup
# See https://formulae.brew.sh/formula/openjdk
if [[ ! -d "/Library/Java/JavaVirtualMachines/openjdk.jdk" ]]; then
    sudo ln -sfn "$(brew --prefix)/opt/openjdk/libexec/openjdk.jdk" "/Library/Java/JavaVirtualMachines/openjdk.jdk"
fi

# Startup applications setup
IFS=', ' read -r -a current_login_item_paths <<<"$(osascript -e 'tell application "System Events" to get the path of every login item')"
login_items=(
    "/Applications/Maccy.app"
    "/Applications/BetterSnapTool.app"
    {{- if .work }}{{/* Work */}}
    "/Applications/Slack.app"
    "/Applications/Microsoft Outlook.app"
    "/Applications/Microsoft Teams.app"
    {{- else }}{{/* Personal */}}
    "/Applications/SoundSource.app"
    "/Applications/Syncthing.app"
    {{- end }}
)

for path in "${login_items[@]}"; do
    if [[ ! " ${current_login_item_paths[*]} " =~ " ${path} " ]]; then
        osascript -e 'tell application "System Events" to make login item at end with properties {path:"'"${path}"'", hidden:false}' >/dev/null
    fi
done
{{ end -}}
