{{- if .steamos -}}
{{- /* This assumes Podman was installed with https://raw.githubusercontent.com/89luca89/distrobox/main/extras/install-podman */ -}}
{{- $target := "podman.socket" }}
[Unit]
Description=Podman API service.
After={{ $target }}
Requires={{ $target }}
StartLimitIntervalSec=0

[Service]
Type=notify
KillMode=process
ExecStart={{ .chezmoi.homeDir }}/.local/podman/bin/podman system service -t 0
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
{{- end }}
