{{- $archlinux := false -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   if or (eq .chezmoi.osRelease.id "arch") (eq (index .chezmoi.osRelease "idLike") "arch") -}}
{{-     $archlinux = true -}}
{{-   end -}}
{{- end -}}

if test -f {$HOME}/.fish.local
    source {$HOME}/.fish.local
end

# Disable the default prompt
set fish_greeting ""

if set -q XDG_CONFIG_HOME
    set config_path $XDG_CONFIG_HOME
else
    set config_path {$HOME}/.config
end

# Environment variables
#------------------------------------------------------------------------------
set -gx EDITOR {{ .editor }}
set -gx VISUAL $EDITOR
set -gx SYSTEMD_EDITOR $EDITOR
set -gx FCEDIT $EDITOR
set -gx SVN_EDITOR $EDITOR
if type -q ov
    set -gx PAGER ov
    set -gx PSQL_PAGER ov -w=f -H2 -F -C -d "|"
else
    set -gx PAGER less
    set -gx LESS --tabs=4 --no-init --LONG-PROMPT --ignore-case --quit-if-one-screen --RAW-CONTROL-CHARS
end
set -gx WWW_BROWSER w3m
set -gx DOWNLOADER wget -S
if test -f {$config_path}/ripgrep/ripgreprc
    set -gx RIPGREP_CONFIG_PATH {$config_path}/ripgrep/ripgreprc
end
if test -d /usr/local/man
    set -gx MANPATH /usr/local/man $MANPATH
end
# Add ~/.local/bin to the PATH if it exists
fish_add_path {$HOME}/.local/bin
# GPG
if type -q tty
    set -gx GPG_TTY (tty)
end
# Raspberry Pi
{{- if .embedded }}
fish_add_path -a /opt/vc/bin
{{- end }}
# Visual Studio Code devcontainer CLI
{{- if eq .chezmoi.os "darwin" }}
set -l devcontainer_cli_path "$HOME/Library/Application Support/Code/User/globalStorage/ms-vscode-remote.remote-containers/cli-bin"
{{- else }}
set -l devcontainer_cli_path {$config_path}/Code/User/globalStorage/ms-vscode-remote.remote-containers/cli-bin
{{- end }}
fish_add_path -a $devcontainer_cli_path
{{- if eq .chezmoi.os "darwin" }}
fish_add_path -a /usr/local/sbin
# GNU Make (installed via Homebrew)
fish_add_path /usr/local/opt/make/libexec/gnubin
# MySQL (installed via Homebrew)
fish_add_path -a /usr/local/opt/mysql-client/bin
# MacPorts
fish_add_path /opt/local/bin /opt/local/sbin
if test -d /opt/local/share/man
    set -gx MANPATH /opt/local/share/man $MANPATH
end
# Android build tools
{{- if eq .chezmoi.os "darwin" }}
set -l android_build_tools_folders ~/Library/Android/sdk/build-tools/*
set -l android_platform_tools_path ~/Library/Android/sdk/platform-tools
{{- else }}
set -l android_build_tools_folders ~/Android/sdk/build-tools/*
set -l android_platform_tools_path ~/Android/sdk/platform-tools
{{- end }}
if test -n "$android_build_tools_folders[-1]"
    fish_add_path -a $android_build_tools_folders[-1]
end
if test -n $android_platform_tools_path
    fish_add_path -a $android_platform_tools_path
end
{{- end }}

# Aliases
#------------------------------------------------------------------------------
{{- if eq .chezmoi.os "darwin" }}
function o
    open $argv
end
{{- else }}
if type -q xdg-open
    function o
        xdg-open $argv
    end
end
{{- end }}

if type -q kubectl
    function k
        kubectl $argv
    end
end

if type -q helm
    function h
        helm $argv
    end
end

if type -q docker
    function d
        docker $argv
    end
end

if type -q podman
    function p
        podman $argv
    end
end

function cp
    command cp -v $argv
end

function mv
    command mv -v $argv
end

function rm
    command rm -v $argv
end

if type -q exa
    function ls
        exa --group-directories-first $argv
    end

    function la
        ls -a $argv
    end

    function ll
        ls --git -al $argv
    end

    set -l tree_ignore 'cache|log|logs|node_modules|vendor|__pycache__'

    function lt
        ls --tree -D -L 2 -I $tree_ignore $argv
    end

    function ltt
        ls --tree -D -L 3 -I $tree_ignore $argv
    end

    function lttt
        ls --tree -D -L 4 -I $tree_ignore $argv
    end

    function ltttt
        ls --tree -D -L 5 -I $tree_ignore $argv
    end
else
{{- if eq .chezmoi.os "darwin" }}
    function ls
        command ls -G $argv
    end
{{- else }}
    function ls
        command ls --color=auto --group-directories-first $argv
    end
{{- end }}

    function ll
        ls -Alh $argv
    end
end

function du
    command du -h $argv
end

function df
    command df -Th $argv
end

function gzip
    command gzip -v9N $argv
end

function zip
    command zip -9 -r $argv
end

function 7z
    command 7z a -t7z -m0=lzma -mx=9 -mfb=64 -md=32m -ms=on $argv
end

function j
    jobs -l $argv
end

function ports --description "Show which process is using which port"
    sudo lsof +M -i4 -n -P
end

function tmux --description "Force tmux to assume the terminal supports 256 colours"
    command tmux -2 $argv
end

function em
    emacs $argv
end

if type -q emacsclient
    function emc --description "Open a new Emacs frame"
        emacsclient -n -c -a "" $argv
    end
    function emw --description "Open an Emacs frame in the current TTY"
        emacsclient -n -w -a "" $argv
    end
end

function wip --description "Get the external IP address"
    dig -4 +short myip.opendns.com A @resolver1.opendns.com
    # dig -4 +short o-o.myaddr.l.google.com TXT @ns1.google.com | string split '"' -f 2
end

function wip6
    dig -6 +short myip.opendns.com AAAA @resolver1.ipv6-sandbox.opendns.com
    # dig -6 +short o-o.myaddr.l.google.com TXT @ns1.google.com | string split '"' -f 2
end

function rmbin --description "Delete all executables from the current directory"
    find . -maxdepth 1 -perm /111 -type f -exec rm -v {} \;
end

{{- if ne .chezmoi.os "darwin" }}
function finddesktop --description "Find all the .desktop files installed on the system"
    find {/usr/{,local/},{$HOME}/.local/}share/applications -type f 2>/dev/null
end
{{- end }}

{{- if and (ne .chezmoi.os "windows") (ne .chezmoi.os "darwin") (ne .chezmoi.os "android") (not .wsl) }}
if type -q dbus-send
    function restartgnome --description "Ask GNOME Shell to restart itself through dbus"
        dbus-send --type=method_call --dest=org.gnome.Shell /org/gnome/Shell org.gnome.Shell.Eval string:'global.reexec_self()'
    end
end
{{- end }}

{{- if ne .chezmoi.os "darwin" }}
# Mimic the OS X commands
if type -q xclip
    function pbcopy
        xclip -selection clipboard
    end
    function pbpaste
        xclip -selection clipboard -o
    end
    if type -q qrencode && type -q feh
        function qr --description "Show a QR code with the clipboard's content"
            xclip -selection clipboard -o | qrencode --size=10 -o - | feh -
        end
    end
end

if type -q ip
    function ips
        for gw in (ip route list to 0/0 | awk '{print $3}')
            ip route get to "$gw" | awk '/src/ {print $5}'
        end
    end
end
{{- end }}

if type -q brew
    function brewu
        brew update && brew upgrade
    end

    function brewua
        brew update && brew upgrade && brew upgrade --casks --greedy-auto-updates
    end
end

# Mozc aliases
if type -q /usr/lib/mozc/mozc_tool
    function mozc-config
        /usr/lib/mozc/mozc_tool --mode=config_dialog
    end
    function mozc-pad
        /usr/lib/mozc/mozc_tool --mode=hand_writing
    end
    function mozc-register
        /usr/lib/mozc/mozc_tool --mode=word_register_dialog
    end
    function mozc-dict
        /usr/lib/mozc/mozc_tool --mode=dictionary_tool
    end
end

{{- if eq .chezmoi.os "darwin" }}
function cal --description "Make cal display the week numbers"
    ncal -w $argv
end
{{- /* ArchLinux already includes a cal utility with Monday as the start of the week */ -}}
{{- else if not $archlinux }}
function cal --description "Make cal display the week numbers and Monday as the start of the week"
    ncal -bM -w $argv
end
{{- end }}

function zombie --description "List zombie processes"
    ps -eo state,ppid | awk '/^Z/ {print $2}' | xargs -r ps -f {{ if eq .chezmoi.os "linux" }}--ppid{{ else }}-o ppid{{ end }}
end

function ts --description "Current UNIX timestamp in seconds"
    date +%s
end

{{- if or (eq .chezmoi.os "linux") (eq .chezmoi.os "android") (and (eq .chezmoi.os "windows") (lookPath "date")) }}
function tsms --description "Current UNIX timestamp in milliseconds"
    date +%s%N | string sub --length 13
end

function tsns --description "Current UNIX timestamp in nanoseconds"
    date +%s%N
end
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
function flushdns --description "Flush the macOS DNS cache"
    sudo dscacheutil -flushcache
    sudo killall -HUP mDNSResponder
end
{{- end }}

# AWS
if type -q aws
    function lambdalist --description "List the AWS Lambda functions"
        aws --output json lambda list-functions | jq -r '.Functions[].FunctionName'
    end
end

# Python
function activate
    source ./venv/bin/activate.fish
end
function pipenv2requirements
    jq -r '.default | to_entries[] | .key + .value.version' Pipfile.lock
end

# PlantUML
if type -q plantuml
    function plantuml-svg --description "Generate a SVG file using PlantUML"
        plantuml -tsvg $argv
    end
    function plantuml-png --description "Generate a PNG file with a DPI of 300 using PlantUML"
        plantuml -tpng -Sdpi=300 $argv
    end
    function plantuml-pdf --description "Generate a PDF file using PlantUML"
        plantuml -tpdf $argv
    end
end

# DBus
if type -q dbus-send
    function secretservicepid --description "Get the PID of the currently running DBus Secret Service daemon"
        dbus-send --session --print-reply=literal --dest=org.freedesktop.DBus / org.freedesktop.DBus.GetConnectionUnixProcessID string:org.freedesktop.secrets
    end
    function quodplaytime --description "Display the QuodLibet play time"
        dbus-send --session --print-reply=literal --dest=net.sacredchao.QuodLibet /net/sacredchao/QuodLibet net.sacredchao.QuodLibet.GetPosition | awk '{print $2 / 1000}'
    end
end

# SSH key generation
if type -q ssh-keygen
    function ssh-keygen-rsa
        ssh-keygen -t rsa -b 4096
    end
    function ssh-keygen-ed25519
        ssh-keygen -t ed25519
    end
end

if type -q flac
    function flacreencodef --description "Reencode FLAC files in the current directory with the highest compression settings"
        for file in **.flac
            if test -f $file
                flac --verify --best --decode-through-errors --preserve-modtime -e -p -f $file
            end
        end
    end

    if type -q metaflac
        function flacreencode --description "Reencode FLAC files in the current directory with the highest compression settings if it was encoded with a different version of FLAC"
            set -l flac_version (string split " " (flac --version) -f 2)

            for file in **.flac
                if test -f $file; and not string match -q -- "*libFLAC $flac_version*" (metaflac --show-vendor-tag $file)
                    flac --verify --best --decode-through-errors --preserve-modtime -e -p -f $file
                end
            end
        end
    end
end

if type -q pwsh
    function pwsh --description "Start PowerShell without displaying the copyright banner"
        command pwsh -NoLogo $argv
    end
end

{{ if $archlinux }}
if type -q paru
    function paruignore --description "Call paru while skipping checksums and PGP checks"
        paru --mflags "--skipchecksums --skippgpcheck" $argv
    end
end
{{- end }}

if type -q chezmoi
    function chezmoicd --description "Change directory to the chezmoi folder without creating a subshell"
        cd (chezmoi source-path)
    end
end

{{- range list "docker" "podman" }}

if type -q {{ . }}
    function {{ . }}cleanup --description "Cleanup {{ . | title }} dangling images, exited containers, unused networks and build cache"
        {{ . }} system prune -f
    end

    function {{ . }}nuke --description "Delete all {{ . | title }} images, containers, networks, volumes and build cache"
        for container in ({{ . }} ps -a -q)
            {{ . }} rm -f $container
        end

        {{ . }} system prune -a --volumes -f
    end
end
{{- end }}

if type -q tsh
    function tshl --argument-names 'env' --description "Login to Teleport"
        switch $env
            case prod stg dev sci
            case '*'
                set env dev
        end

        if test -n $TELEPORT_PROXY; and test -n $TELEPORT_USER; and test ! -f {$HOME}/.tsh/(string split ':' $TELEPORT_PROXY -f 1).yaml
            tsh login
        end

        tsh kube login $env
    end
end

if type -q git
    # e.g. gitc -9 hours -m "This is a commit"
    function gitc --argument-names 'diff' 'unit' --description "Make a Git commit with a specific date"
        if test (count $argv) -lt 3
            echo "usage: gitc DIFF UNIT ARGS" 1>&2
            return 1
        end

{{- if or (eq .chezmoi.os "linux") (eq .chezmoi.os "windows") (eq .chezmoi.os "android") }}
        if string match -q -- "-*" $diff
            set date (date -d (string sub -s 2 -- $diff)" $unit ago")
        else
            set date (date -d $diff" "$unit)
        end
{{- else }}
        switch $unit
            case second seconds
                set unit S
            case minute minutes
                set unit M
            case hour hours
                set unit H
            case day days
                set unit d
            case week weeks
                set unit w
            case month months
                set unit m
            case year years
                set unit y
            case '*'
                echo "usage: gitc DIFF UNIT ARGS" 1>&2
                return 1
        end

        if not string match -q -- "-*" $diff
            set diff +$diff
        end

        set date (date -v$diff$unit)
{{- end }}

        set -lx GIT_COMMITTER_DATE $date

        if contains -- '--amend' $argv
            # When amending a commit, GIT_AUTHOR_DATE is ignored in favor of the --date option
            git commit --date $date $argv[3..]
        else
            set -lx GIT_AUTHOR_DATE $date
            git commit $argv[3..]
        end
    end
end

# CentOS only
# Use Vim with system clipboard support if installed
if type -q /usr/bin/vimx && not type -q /usr/local/bin/vim
    function vim
        /usr/bin/vimx $argv
    end
end

# Haskell
#------------------------------------------------------------------------------
fish_add_path {$HOME}/.cabal/bin

if type -q ghc
    function ghci-sandbox
        ghc -no-user-package-db -package-db .cabal-sandbox/*-packages.conf.d $argv
    end
end

if type -q ghci
    function ghci-sandbox
        ghci -no-user-package-db -package-db .cabal-sandbox/*-packages.conf.d $argv
    end
end

if type -q runhaskell
    function runhaskell-sandbox
        runhaskell -no-user-package-db -package-db .cabal-sandbox/*-packages.conf.d $argv
    end
end

# Go
#------------------------------------------------------------------------------
if type -q go
    function gor --description "go build and strip the debugging information (DWARF tables)"
        go build -ldflags='-s -w' $argv
    end

    set -l gopath (go env GOPATH 2>/dev/null)
    fish_add_path {$gopath}/bin
end

# Rust
#------------------------------------------------------------------------------
if type -q rustup
    function rustbook
        rustup docs --book
    end
end
fish_add_path {$HOME}/.cargo/bin

# Ruby
#------------------------------------------------------------------------------
fish_add_path {$HOME}/.rvm/bin

if type -q rbenv
    status --is-interactive; and rbenv init - fish | source
end
